/ {
    key_matrix {
        compatible = "zmk,matrix-transform";
    };

    // This fixes the missing row on Mikoto + memory display
    chosen {
        zmk,kscan = &kscan0;
    };

    kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "COL2ROW";

        // Columns (14 for Lily58)
        col-gpios =
            <&gpio0  2 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            <&gpio0  3 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            <&gpio0  4 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            <&gpio0  5 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            <&gpio0  6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            <&gpio0  7 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            <&gpio0  8 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            <&gpio0  9 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            <&gpio0 10 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            <&gpio0 11 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            <&gpio0 12 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            <&gpio0 13 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            <&gpio0 14 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            <&gpio0 15 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;

        // Rows (5 for Lily58, this is the important part)
        row-gpios =
            <&gpio0 16 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            <&gpio0 17 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            <&gpio0 18 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            <&gpio0 29 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>   /* QWERT row fix */
            <&gpio0 31 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
    };
};

